body {background: #333; height: 1500px;}

html {
  --scrollbarBG: #1f1f1f;
  --thumbBG: #4a4a4a;
}
body::-webkit-scrollbar {
  width: 18px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 0px;
  border: 0px solid var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb:hover {
  background: #575757; 
}